*{
  box-sizing: border-box;
}

body{
  text-align:center;
  width:500px;
  height:;
}

.img, .img2{
  width:;
  height:;
}

div{
  margin-top:30px;
  margin-bottom:10px;  
  
}

div h3, div p{
 
  margin-left:25px;
  font-size:12px;
  margin-right: 20px;
  text-align:left;
}

p{
  font-family:arial;
  font-size:12px;
  
}

#top {
  text-align:left;
}
header h1{
  font-family:helvetica;
  text-shadow:2px 2px #3f4247;
  padding-top:50px;
  padding-bottom:50px;  
  background-image:url("header-img.jpg");
  color:white;
  margin-bottom:0px;
}


ul{
  font-family:arial;
  font-size:13px;
  display:flex;
  color:white;
  justify-content:space-between;
  padding:10px 20px 10px 15px;
  background-color:#061e47;
  margin-top:0px;
}

#break{
  text-align:center;
}

footer{
  font-size: 10px;
  font-family:arial;
  text-align:center;
  padding-bottom:px;
  padding:10px;
  color:white;
  background-color:navy;
}

.twin{
  display:flex;
  margin:4px
  

}
